/*##################################### TOOLTIP ##########################################*/
.logToolTip {
	position: relative;
	display: inline-block;
}

.logToolTip .logToolTiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	font-size: 15px;
	position: absolute;
	z-index: 1;
}

.logToolTip.grande .logToolTiptext.grande {
	width: 700px;
}

.logToolTip:hover .logToolTiptext {
	visibility: visible;
}

/*######################### ESTILO DO LOG DO WEBSOCKET ################################*/
#EspLog {
	float:left;
}

#EspStatus {
	float:left;
	width:100%;
	border-style: solid;
	border-color: #ff0000;
	border-width:2px;
}

.EspStatus {
	width: 49%;
	float:left;
	border-style: solid;
	border-width:2px;
	margin:2px;
	border-color: #0000ff;
	font-size: 12px;
	padding: 1px;
}

.EspLog div {
    margin:0;
    padding: 0;
}

.EspLog .Sucesso {
	color: green
}

.EspLog .Normal {
	color: blue
}

.EspLog .Erro {
	color: red;
}