body{
	background-color: #E8F2FD;
}

hr{
	color: red;
}

.titulo_pagina{
	background-color: #295AC1;
	color: #FFF;
	padding: 15px;
}

/* Modifications Bootstrap */
.navbar{
	color: #19456B;
	border-radius: 0;
	border: 0;
	background-color: #BBDAF1;
}

.navbar a:hover{
	background-color: #337ab7;
	color: #FFF;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0;
}

blockquote{
	margin: 10px;
    border-left: 10px solid #2C2CBF;
}



/*######################### ESTILO DO LOG DO WEBSOCKET ################################*/
#EspLog {
	float:left;
	width: 100%;
}

#EspStatus {
	float:left;
	width:100%;
	border-style: solid;
	border-color: #000000;
	border-width:2px;
	background-color: #bcbcbc;
	margin-top: 5px;
}

.EspStatus {
	float:left;
	width: calc(50% - 6px);
	margin:3px;
	font-size: 12px;
	padding: 1px;
	background-color: #dfdfdf;
}

.EspLog div {
    margin:0;
    padding: 0;
}

.EspLog .Sucesso {
	color: green
}

.EspLog .Normal {
	color: blue
}

.EspLog .Erro {
	color: red;
}