#TabelaMonitoriamento {
	width: 100%;
}

#TabelaMonitoriamento .naoencontrado td, #TabelaMonitoriamento .naoconectado td
	{
	background-color: #FF0000;
}

#TabelaMonitoriamento .procurando td {
	background-color: #00ffff;
}

#TabelaMonitoriamento .conectando td {
	background-color: #ffff00;
}

#TabelaMonitoriamento .conectado td {
	background-color: #06ff00;
}

#TabelaMonitoriamento td.macaddress {
	width: 50px;
}

#TabelaMonitoriamento td.macaddress {
	width: 50px;
}

#TabelaMonitoriamento td.sensor {
	width: 300px;
}

#TabelaMonitoriamento td {
	text-align: left;
	vertical-align: middle;
}

#TabelaMonitoriamento tr.naoencontrado td.comandos *,
	#TabelaMonitoriamento tr.naoconectado td.comandos *,
	#TabelaMonitoriamento tr.conectando td.comandos *,
	#TabelaMonitoriamento tr.procurando td.comandos * {
	display: none;
}